# House Price Prediction

In [91]:
#setup
import numpy as np
import pandas as pd 
import sklearn
from sklearn.impute import SimpleImputer

In [151]:
#Importing training data
train_data = pd.read_csv('C:/Users/44745/Desktop/ML_Resources/projects/IOWA_house_price prediction/train.csv')

## Preprocessing

In [152]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [153]:
# seperating features and response variables
y = train_data.SalePrice
X = train_data.drop('SalePrice', 1)
X.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,472.980137,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,213.804841,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,334.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,480.000000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,576.000000,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,1418.000000,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000

### Dealing with numeric variables

In [154]:
#checking the numeric variables
X_numeric_cols = X.select_dtypes(include=np.number).columns.tolist()
print(X_numeric_cols)

['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']

In [166]:
#checking for null values
print('null values before imputing: ')
print(X[X_numeric_cols].isnull().sum())
#imputing the null values using simple Imputer
my_imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputed_df_numeric = pd.DataFrame(my_imputer.fit_transform(X[X_numeric_cols]))
imputed_df_numeric.columns = [X_numeric_cols]
print('null values after imputing: ')
print(imputed_df_numeric.isnull().sum())
print('summary: ')
imputed_df_numeric = imputed_df_numeric.drop('Id',1)
imputed_df_numeric.head(6)

null values before imputing:
Id                 0
MSSubClass         0
LotFrontage      259
LotArea            0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
MasVnrArea         8
BsmtFinSF1         0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BsmtFullBath       0
BsmtHalfBath       0
FullBath           0
HalfBath           0
BedroomAbvGr       0
KitchenAbvGr       0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       81
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
dtype: int64
null values after imputing:
Id               0
MSSubClass       0
LotFrontage      0
LotArea          0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
MasVnrArea       0
BsmtFinSF1       0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
GarageYrBlt      0
GarageCars       0
GarageArea       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
dtype: int64
summary:

C:\Users\44745\anaconda3\envs\MLenv\lib\site-packages\pandas\core\generic.py:3887: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,60.0,65.0,8450.0,7.0,5.0,2003.0,2003.0,196.0,706.0,0.0,...,548.0,0.0,61.0,0.0,0.0,0.0,0.0,0.0,2.0,2008.0
1,20.0,80.0,9600.0,6.0,8.0,1976.0,1976.0,0.0,978.0,0.0,...,460.0,298.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2007.0
2,60.0,68.0,11250.0,7.0,5.0,2001.0,2002.0,162.0,486.0,0.0,...,608.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,9.0,2008.0
3,70.0,60.0,9550.0,7.0,5.0,1915.0,1970.0,0.0,216.0,0.0,...,642.0,0.0,35.0,272.0,0.0,0.0,0.0,0.0,2.0,2006.0
4,60.0,84.0,14260.0,8.0,5.0,2000.0,2000.0,350.0,655.0,0.0,...,836.0,192.0,84.0,0.0,0.0,0.0,0.0,0.0,12.0,2008.0
5,50.0,85.0,14115.0,5.0,5.0,1993.0,1995.0,0.0,732.0,0.0,...,480.0,40.0,30.0,0.0,320.0,0.0,0.0,700.0,10.0,2009.0

### Dealing with Categorical Variable

In [117]:
X_cat_cols = X.select_dtypes(include='object').columns.tolist()
print(X_cat_cols)

['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

In [118]:
#checking for missing data
print(X[X_cat_cols].isnull().sum())
#percentage of missing values in each column
percent_missing = X[X_cat_cols].isnull().sum() * 100 / len(X)
missing_value_df = pd.DataFrame({'column_name': X[X_cat_cols].columns,
                                 'percent_missing': percent_missing}).reset_index(drop = True)
print("percentage of missing data: ")
print(missing_value_df.head(len(missing_value_df)))

MSZoning            0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinType2       38
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
KitchenQual         0
Functional          0
FireplaceQu       690
GarageType         81
GarageFinish       81
GarageQual         81
GarageCond         81
PavedDrive          0
PoolQC           1453
Fence            1179
MiscFeature      1406
SaleType            0
SaleCondition       0
dtype: int64
percentage of missing data:
      column_name  percent_missing
0        MSZoning         0.000000
1          Street         0.000000
2           Alley        93.767123
3        LotShape         0.000000
4     LandContour         0.000000
5       Utilities         0.000000
6       LotConfig         0.000000
7       LandSlope         0.000000
8    Neighborhood         0.000000
9      Condition1         0.000000
10     Condition2         0.000000
11       BldgType         0.000000
12     HouseStyle         0.000000
13      RoofStyle         0.000000
14       RoofMatl         0.000000
15    Exterior1st         0.000000
16    Exterior2nd         0.000000
17     MasVnrType         0.547945
18      ExterQual         0.000000
19      ExterCond         0.000000
20     Foundation         0.000000
21       BsmtQual         2.534247
22       BsmtCond         2.534247
23   BsmtExposure         2.602740
24   BsmtFinType1         2.534247
25   BsmtFinType2         2.602740
26        Heating         0.000000
27      HeatingQC         0.000000
28     CentralAir         0.000000
29     Electrical         0.068493
30    KitchenQual         0.000000
31     Functional         0.000000
32    FireplaceQu        47.260274
33     GarageType         5.547945
34   GarageFinish         5.547945
35     GarageQual         5.547945
36     GarageCond         5.547945
37     PavedDrive         0.000000
38         PoolQC        99.520548
39          Fence        80.753425
40    MiscFeature        96.301370
41       SaleType         0.000000
42  SaleCondition         0.000000

In [119]:
#selecting variables to drop due to missing values
index_to_drop = []
for i in range(len(missing_value_df)):
    if missing_value_df.at[i, 'percent_missing'] > 50:
        ind = missing_value_df.at[i, 'column_name']
        index_to_drop.append(ind)
print(index_to_drop)

['Alley', 'PoolQC', 'Fence', 'MiscFeature']

In [120]:
#Dropping the columns not required for assessment
X_cat = X.loc[:,X_cat_cols]
X_cat = X.drop(index_to_drop,axis = 1)

In [167]:
#imputing the missing value and encoding the variables
from sklearn.preprocessing import OneHotEncoder
imputer = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
imputed_df_cat = pd.DataFrame(imputer.fit_transform(X_cat))
imputed_df_cat.columns = X_cat.columns
OH_encoder = OneHotEncoder(handle_unknown = 'ignore', sparse = False)
encoded_cat_df = pd.DataFrame(OH_encoder.fit_transform(imputed_df_cat))
encoded_cat_df.head()

,0,1,2,3,4,5,6,7,8,9,...,9066,9067,9068,9069,9070,9071,9072,9073,9074,9075
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [122]:
#concatenating the entire dataframe
X_train_final = pd.concat([imputed_df_numeric, encoded_cat_df], axis = 1)

In [132]:
#splitting training data into training and validation set
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X_train_final, y, random_state = 1)

In [140]:
#creating model
from xgboost import XGBRegressor
model = XGBRegressor(n_estimators = 500, learning_rate = 0.05)

model.fit(train_X, train_y, early_stopping_rounds=5, eval_set = [(test_X, test_y)], verbose = False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.05, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=500, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [147]:
#processing the test data
test_data = pd.read_csv('C:/Users/44745/Desktop/ML_Resources/projects/IOWA_house_price prediction/test.csv')

In [148]:
test_numeric = test_data.select_dtypes(include=np.number).columns.tolist()

In [168]:

#imputing the null values
imputed_test_numeric = pd.DataFrame(my_imputer.transform(test_data[test_numeric]))
imputed_test_numeric.columns = [test_numeric]
imputed_test_numeric = imputed_test_numeric.drop('Id',1)
imputed_test_numeric.head(6)

C:\Users\44745\anaconda3\envs\MLenv\lib\site-packages\pandas\core\generic.py:3887: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,20.0,80.0,11622.0,5.0,6.0,1961.0,1961.0,0.0,468.0,144.0,...,730.0,140.0,0.0,0.0,0.0,120.0,0.0,0.0,6.0,2010.0
1,20.0,81.0,14267.0,6.0,6.0,1958.0,1958.0,108.0,923.0,0.0,...,312.0,393.0,36.0,0.0,0.0,0.0,0.0,12500.0,6.0,2010.0
2,60.0,74.0,13830.0,5.0,5.0,1997.0,1998.0,0.0,791.0,0.0,...,482.0,212.0,34.0,0.0,0.0,0.0,0.0,0.0,3.0,2010.0
3,60.0,78.0,9978.0,6.0,6.0,1998.0,1998.0,20.0,602.0,0.0,...,470.0,360.0,36.0,0.0,0.0,0.0,0.0,0.0,6.0,2010.0
4,120.0,43.0,5005.0,8.0,5.0,1992.0,1992.0,0.0,263.0,0.0,...,506.0,0.0,82.0,0.0,0.0,144.0,0.0,0.0,1.0,2010.0
5,60.0,75.0,10000.0,6.0,5.0,1993.0,1994.0,0.0,0.0,0.0,...,440.0,157.0,84.0,0.0,0.0,0.0,0.0,0.0,4.0,2010.0

In [162]:
test_cat = test_data.loc[:,X_cat_cols]
test_cat = test_data.drop(index_to_drop,axis = 1)

In [169]:
imputed_test_cat = pd.DataFrame(imputer.transform(test_cat))
imputed_test_cat.columns = test_cat.columns
encoded_test_df = pd.DataFrame(OH_encoder.transform(imputed_test_cat))
encoded_test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,9066,9067,9068,9069,9070,9071,9072,9073,9074,9075
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [171]:
final_test = pd.concat([imputed_test_numeric, encoded_test_df], axis = 1)
final_test.columns = X_train_final.columns

In [173]:
prediction = model.predict(final_test)
prediction

array([128660.2  , 155270.6  , 182844.97 , ..., 162647.55 , 123902.414,
       217450.78 ], dtype=float32)

In [175]:
final = pd.DataFrame({'Id':test_data.Id , 'SalePrice':prediction })
final.to_csv('my_submission.csv', index=False)
final.head()

     Id      SalePrice
0  1461  128660.203125
1  1462  155270.593750
2  1463  182844.968750
3  1464  189373.812500
4  1465  190238.328125